Source: clearwater-sip-stress
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: clearwater-sip-stress
Architecture: any
Depends: clearwater-infrastructure
Description: Runs SIP stress against Clearwater as a P-CSCF
